<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.muirsuus">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="МИРСУ УС"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".InfBlock"
            android:label="Информацинный блок">
        </activity>

        <activity android:name=".FirstLevel0fNesting"
            android:label="Информацинный блок"/>
        <activity android:name=".SecondLevelOfNesting" />

        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".WebActivity" />
        <activity android:name=".FirstActivity" />
    </application>

</manifest>